@{
    ViewData["Title"] = "Snack Machine";
}
@model SnackModel

<div class="container">
    <div class="row justify-content-center align-items-center">
        <form asp-action="Buy" class="col-auto d-flex flex-column justify-content-center">
            <button type="submit" class="btn btn-primary">Buy a Snack</button>
            <p class="m-4">Money Inserted: <strong>@Model.Machine?.MoneyInTransaction?.ToString()</strong></p>
        </form>
    </div>
    <div class="row row-cols-3 gy-4">
        <div class="col d-flex justify-content-center">
            <form asp-action="Insert" asp-route-value="@Money.Cent.Amount" class="w-50">
                <button type="submit" class="btn btn-secondary w-100">Put ¢1</button>
            </form>
        </div>
        <div class="col d-flex justify-content-center">
            <form asp-action="Insert" asp-route-value="@Money.TenCent.Amount" class="w-50">
                <button type="submit" class="btn btn-secondary w-100">Put ¢10</button>
            </form>
        </div>
        <div class="col d-flex justify-content-center">
            <form asp-action="Insert" asp-route-value="@Money.Quarter.Amount" class="w-50">
                <button type="submit" class="btn btn-secondary w-100">Put ¢25</button>
            </form>
        </div>
        <div class="col d-flex justify-content-center">
            <form asp-action="Insert" asp-route-value="@Money.Dollar.Amount" class="w-50">
                <button type="submit" class="btn btn-secondary w-100">Put $1</button>
            </form>
        </div>
        <div class="col d-flex justify-content-center">
            <form asp-action="Insert" asp-route-value="@Money.FiveDollar.Amount" class="w-50">
                <button type="submit" class="btn btn-secondary w-100">Put $5</button>
            </form>
        </div>
        <div class="col d-flex justify-content-center">
            <form asp-action="Insert" asp-route-value="@Money.TwentyDollar.Amount" class="w-50">
                <button type="submit" class="btn btn-secondary w-100">Put $20</button>
            </form>
        </div>
    </div>
    <div style="width: max-content" class="mx-auto">
        <p class="m-4">Money Inside: @Model.Message</p>
    </div>
    <div>
        <form asp-action="ReturnMoney">
            <button type="submit" class="btn btn-outline-primary mx-auto my-5 d-block">Return Money</button>
        </form>
    </div>
</div>